/** @format */
@use 'variable' as *;

@mixin flex($justify, $align) {
    display: flex;
    @if $justify != null {
        justify-content: $justify;
    }
    @if $align != null {
        align-items: $align;
    }
}
@mixin icon($color) {
    color: $color;
}

@mixin gradientText {
    color: transparent;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
}

@mixin textFont($weight, $size, $family: $font) {
    font: $weight $size $family;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin transition($name, $sec, $type) {
    transition: $name $sec $type;
}
